# Serverless Neon PostgreSQL Database Connection (Pooled connection for serverless API routes)
DATABASE_URL=postgresql://neondb_owner:password@ep-pool-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Direct Unpooled Connection string for Drizzle Kit schema migrations
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:password@ep-pool-123456.us-east-2.aws.neon.tech/neondb?sslmode=require

# Public Site URL
NEXT_PUBLIC_SITE_URL=https://souqonline.in
